# Ignore the following #
########################
*.class
/nbproject/private/
/build/
/nbdist/
coverage-reports/cobertura.ser
db/hit.sqlite
dist/lib/inventory-tracker.jar
dist/lib/lib/checkstyle-5.3/checkstyle-5.3-all.jar
dist/lib/lib/cobertura-1.9.4.1/cobertura.jar
dist/lib/lib/cobertura-1.9.4.1/cobertura.zip
dist/lib/lib/cobertura-1.9.4.1/lib/asm-3.0.jar
dist/lib/lib/cobertura-1.9.4.1/lib/asm-tree-3.0.jar
dist/lib/lib/cobertura-1.9.4.1/lib/jakarta-oro-2.0.8.jar
dist/lib/lib/cobertura-1.9.4.1/lib/jakarta-oro-license.txt
dist/lib/lib/cobertura-1.9.4.1/lib/log4j-1.2.9.jar
dist/lib/lib/cobertura-1.9.4.1/lib/log4j-license.txt
dist/lib/lib/commons-lang3-3.1.jar
dist/lib/lib/itext-5.1.0/itextpdf-5.1.0.jar
dist/lib/lib/json-simple-1.1.1.jar
dist/lib/lib/junit-4.8.2/junit-4.8.2.jar
dist/lib/lib/sqlitejdbc-v056/sqlitejdbc-v056.jar
test-reports/TEST-model.barcode.GoogleHandlerTest.txt
test-reports/TEST-model.controllers.ItemControllerTest.txt
test-reports/TEST-model.controllers.StorageUnitControllerTest.txt
test-reports/TEST-model.entities.ItemTest.txt
test-reports/TEST-model.entities.ProductContainerTest.txt
test-reports/TEST-model.entities.ProductGroupTest.txt
test-reports/TEST-model.entities.ProductTest.txt
test-reports/TEST-model.entities.SizeTest.txt
test-reports/TEST-model.entities.StorageUnitTest.txt
test-reports/TEST-reports.directors.ProductStatsDirectorTest.txt
